<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80">
<h1>
  <strong>Fundos de</strong>
  <strong highlight>Investimentos</strong>
</h1>

<p>
  <span>Invista em fundos e diversifique seus investimentos rentabilizando ainda mais a sua carteira.</span>
  <span>Selecionamos os melhores fundos de diversas categorias de acordo com o seu perfil.</span>
  <span>Compare, escolha e invista no melhor fundo para você.</span>
</p>

<a button="primary" [routerLink]="['/fundos/conheca']">
  <span>Conheça este produto</span>
</a>

<a button="secondary" [routerLink]="['/fundos/produtos']">
  <span>Veja a lista de fundos</span>
</a>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>
